
#anchorPaneBaseGame {
    -fx-background-color: linear-gradient(aquamarine, white);
}

#anchorPaneBaseStart {
    -fx-background-color: linear-gradient(aquamarine, white);
}


.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: grey;
    -fx-background-radius: 14px;
}


.choice-box {
    -fx-background-color: grey;
    -fx-background-radius: 14px;
}